.card-img-top{
    background-color: #8E24AA;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 25px;
}
.card {
    border: none;
}
.fa-times{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.fa-trash{
    position: absolute;
    top: 10px;
    right: 60px;
    font-size: 22px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
.fa-edit{
    position: absolute;
    bottom: -20px;
    left: 20px;
    font-size: 22px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #8E24AA;
    z-index: 1000;
    box-shadow: 2px 2px 2px 2px rgba(100,100,100,.2);
}
.fa-trash:hover, .fa-times:hover{
    background-color: lighten(#8E24AA, 10%);
}