
<div class="row p-2">
    <div class="col-md-3">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          appCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)">
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          appCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)">
          Today
        </div>
        <div
          class="btn btn-primary"
          appCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)">
          Next
        </div>
      </div>
    </div>
    <div *ngIf="view === 'week' || view === 'month'" class="col-md-3 todate">
      {{ viewDate | date: 'MMMM yyyy' }}
    </div>
    <div *ngIf="view === 'day'" class="col-md-3 todate">
        {{ viewDate | date: 'EEEE dd MMMM yyyy' }}
    </div>
    <div class="col-md-3">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="viewChange.emit('month')"
          [class.active]="view === 'month'">
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="viewChange.emit('week')"
          [class.active]="view === 'week'">
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="viewChange.emit('day')"
          [class.active]="view === 'day'">
          Day
        </div>
      </div>
    </div>
    <div class="col-md-3 calendar-import-export">
      <div class="mt-2">
          <input (change)="import($event)" type="file" name="file" id="file" class="inputfile" />
          <label for="file">Import</label>
      </div>
      <div class="btn-group pl-1">
        <a (click)="export()" href="#" class="btn btn-dark">
          Export
        </a>
      </div>
    </div>
  </div>
