.cal-header {
    text-align: center;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #e1e1e1;
  }

  .cal-cell-row:hover {
    background-color: #fafafa;
  }

  .cal-header .cal-cell {
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
  }

  .cal-cell-row {
    display: flex;
  }
    
  .cal-cell {
    float: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .cal-cell-row {
    border-bottom: 1px solid #e1e1e1;
  }